* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie-details {
    max-width: 100%;
    padding: 20px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    color: #fff;
    position: relative;
    height: 100%;
}

.movie-img {
    margin: auto;
    margin-top: 30px;
}

/* Poster */
.movie-details img {
    width: 320px;
    height: 480px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Text Content */
.movie-details .info {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    gap: 12px;
    max-width: 700px;
}
.bi-emoji-frown-fill{
    color: rgb(255, 255, 0);
}
.movie-details h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.movie-details p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Back Button */
.back-btn {
    background: rgb(187, 183, 183);
    border: none;
    padding: 10px 18px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: .3s;
    position: absolute;
    color: #fff;
    right: 2px;

}

.back-btn:hover {
    background: gray;
    transform: scale(1.05);
    transition: 500ms;

    .bi {
        color: black;
    }
}

/* Responsive */
@media(max-width: 768px) {
    .movie-details {
        flex-direction: column;
        text-align: center;
    }

    .movie-details img {
        width: 250px;
        height: auto;
        margin: 0 auto;
    }
}

.trailer-btn {
    display: none;
}

.youtube-icon {
    margin: auto;

    i {
        margin-right: 10px;
        color: red;
    }
}

.trailer-btn:hover {
    color: black;
}

/* trailer */
.tmdb-link {
    color: white;
}

.trailer-btn {
    width: fit-content;
    display: inline-block;
    padding: 10px 20px;
    background: gray;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
    margin: auto;
}

.trailer-btn:hover {
    background: rgba(0, 0, 0, 0.4);
    background-color: transparent;
    border-radius: 2px;
    transition: 500ms;
    transform: scale(1.02);
}

.loading {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}