/* CARD CONTAINER */
.movie-card {
    position: relative;
    width: 100%;
    max-width: 240px;
    border-radius: 14px;
    overflow: hidden;
    transition: 0.35s ease;
    cursor: pointer;
    text-decoration: none;
}

/* HOVER SCALE */
.movie-card:hover {
    transform: translateY(-10px);
}

/* POSTER */
.movie-poster img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    transition: .35s ease;
    border-radius: 10px 10px 0px 0px;
    filter: brightness(80%);
}

.movie-poster img:hover {
    filter: brightness(100%);
}

.movie-card {
    .btn-one {
        position: absolute;
        top: 12px;
        right: 12px;
        background: rgba(0, 0, 0, 0.45);
        border: none;
        border-radius: 50%;
        padding: 6px 8px;
        font-size: 20px;
        color: #aaaaaa;
        z-index: 20;
        cursor: pointer;
        transition: .3s;
        display: none;
    }
}

/* btn hover */
.movie-card:hover {
    .btn-one {
        display: block;
    }
}

.btn-one:hover {
    color: #e50914;
}

.btn-one.active {
    color: #e50914;
    box-shadow: 0 0 10px #e50914;
}

/* INFO AREA */
.movie-info {
    padding: 12px 14px;
    background: #0d0d0d;
    position: relative;
}

/* TITLE + YEAR */
.movie-info h3 {
    font-size: 17px;
    margin: 0;
    font-weight: 600;
    color: white;
}

.movie-info p {
    margin: 3px 0;
    color: #bbb;
}

/* TMDB ROUND RATING */
.rating-circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #081c22;
    border: 3px solid #21d07a;
    color: #21d07a;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    position: fixed;
    top: 0;
}

/* DESCRIPTION OVERLAY (HIDDEN) */
.movie-overview {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 0;
    padding: 0 12px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease;
    color: #ddd;
    font-size: 13px;
    line-height: 1.4;
}

/* SHOW ON HOVER */
.movie-card:hover .movie-overview {
    max-height: 150px;
    opacity: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #0d0d0d;
}

/* PERFECT RESPONSIVE CARD GRID */
.movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

/* 3 CARDS @ TABLET */
@media (max-width: 1199px) {
    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 2 CARDS @ MEDIUM SCREEN */
@media (max-width: 768px) {
    .movies-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

/* 1 CARD @ MOBILE */
@media (max-width: 500px) {
    .movies-grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}