* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 500ms;
}

/* form */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
}

.search-input {
    width: 280px;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    transition: 0.3s ease;
    font-family: "Playfair Display", serif;
}

.search-input:focus {
    border-color: #d8d4d4;
    box-shadow: 0 0 8px rgba(233, 229, 229, 0.5);
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
}

.search-button:hover {
    border-radius: 2px;
    background-color: #bab8b8;
    box-shadow: 0 0 8px rgba(187, 179, 180, 0.5);
}

/* Mobile Responsive */
@media (max-width: 600px) {
    .search-form {
        flex-direction: column;
        width: 100%;
    }

    .search-input {
        width: 90%;
    }

    .search-button {
        width: 90%;
    }
}

.home {
    margin-top: 90px;
}

main {
    margin-top: 90px;
    background: radial-gradient(circle, rgb(76, 75, 75) 0%, rgb(185, 185, 189) 90%);
    height: 100%;
}


.card {
    background: radial-gradient(circle, rgb(169, 169, 169) 0%, rgb(185, 185, 189) 90%);
    font-family: "Playfair Display", serif;
    position: relative;
    overflow: hidden;
}

/* card hover */
.card:hover {
    transform: scale(1.05);
    transition: 500ms;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    .btn-one{
        display: block;
    }
}

.card-img-top {
    margin-top: 20px;
}

/* card btn */
.btn-one {
    position: absolute;
    top: 15px;
    right: 20px;
    text-decoration: none;
    display: none;
    border: none;
    background: none;
}

.search-input {
    margin-top: 20px;
}

.container-fluid {
    margin-top: 20px;
}

.movie-poster {
    margin: auto;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin: 0px;
}

/* movie view */
@media screen and (max-width:700px) {
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 0px;
    }

    .card {
        .card-img-top {
            /* height: 200px; */
            margin-top: 10px;
        }
    }

    .card:hover {
        transform: scale(1.02);
        transition: 500ms;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}

@media screen and (max-width:500px) {
    .movie-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: auto;
    }
}

@media screen and (max-width:400px) {
    .movie-grid {
        width: 250px;
    }
}


@media screen and (max-width:370px) {
    main{
        height: 100%;
    }
    .movie-grid {
        width: 250px;
    }

    .card {
        width: 250px;
    }
    .card-img-top{
        margin-top: 20px;
    }
}