.movie-details {
    max-width: 1100px;
    /* margin: 40px auto; */
    padding: 20px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    color: #fff;
}

/* Poster */
.movie-details img {
    width: 320px;
    height: 480px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Text Content */
.movie-details .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 700px;
}

.movie-details h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.movie-details p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Back Button */
.back-btn {
    background:rgb(187, 183, 183);
    border: none;
    padding: 10px 18px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: .3s;
    color: #fff;
}

.back-btn:hover {
    background:gray;
    transform: translateX(-3px);
}

/* Responsive */
@media(max-width: 768px) {
    .movie-details {
        flex-direction: column;
        text-align: center;
    }

    .movie-details img {
        width: 250px;
        height: auto;
        margin: 0 auto;
    }
}