/* GLOBAL FONT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 80px;
    background: #141414;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo {
    img {
        height:60px;
        width: 100px;
    }
}

/* BRAND */
.navbar-title h1 {
    color: #e50914;
    font-size: 28px;
    margin: 0;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.navbar-title h1:hover {
    opacity: 0.8;
}

/* NAV LINKS CONTAINER */
.nav-links {
    display: flex;
    align-items: center;
}

/* DESKTOP LINKS */
.nav-items {
    list-style: none;
    display: flex;
    gap: 28px;
    margin: 0;
    padding: 0;
}

/* LINK STYLE */
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #e50914;
    text-decoration: underline;
}

/* TOGGLE BUTTON (MOBILE) */
.menu-toggle {
    display: none;
    font-size: 30px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        background: #141414;
        width: 200px;
        height: 100vh;
        transform: translateX(100%);
        transition: 0.4s ease;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .nav-items {
        flex-direction: column;
        gap: 18px;
        padding: 30px 20px;
    }

    .nav-link {
        font-size: 20px;
        display: block;
    }
}

.nav-link.active {
    color: #e50914;
    font-weight: 600;
}