* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.movie-container {
    width: 100%;
    min-height: 100vh;
    background: #111;
    padding: 100px 40px;
    color: #fff;
}
/* Page Title */
.page-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Grid Layout */
.gird {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

/* Cards */
.card {
    background: #1b1b1b;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px) ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

/* Poster Image */
.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Movie Name */
.card p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    color: white;
}

/* Responsive */
@media (max-width: 600px) {
    .gird {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    .card img {
        height: 200px;
    }
}